<!-- base.html -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}My Django App{% endblock %}</title>
  </head>
  <body>
    <div id="header">
      <h1>{% block header %}Welcome to My Django App{% endblock %}</h1>
    </div>

    <div id="content">{% block content %}{% endblock %}</div>

    <div id="footer">
      <p>&copy; 2022 My Django App</p>
    </div>
  </body>
</html>
